<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>Basic Blog</title>

    {% block head %}
    {% endblock %}
</head>
<body>
    <form method="post">
        <div class="nav">
            {% if user_id %}
                <input type="submit" name="home" value="Home">
                <input type="submit" name="newpost" value="New Post">
                <input id="register_nav" type="submit" name="logout" value="Log Out">
            {% else %}
                <input type="submit" name="home" value="Home">
                <input id="register_nav" type="submit" name="signup" value="Sign Up">
                <input type="submit" name="login" value="Log In">
            {% endif %}
        </div>
    </form>

    {% block body %}
    {% endblock %}

    <footer>
        <p>&copy; 2017 by Derek Harmann</p>
    </footer>
</body>
</html>