<!DOCTYPE html>
<html>
<head>
    <title>Basic Blog</title>

    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <h1>Basic Blog</h1>
    <div class="error" name="error">{{ error }}</div>
    {% for blogpost in blogposts %}
        <form method="post">
            <input name="creator_id" class="hidden" value="{{ blogpost.creator_id }}">
            <input name="post_id" class="hidden" value="{{ blogpost.key().id() }}">
            <div class="container">
                <h3 name="subject">{{ blogpost.subject }}</h3>
                <p name="date">{{ blogpost.created.strftime("%d %b %Y") }}</p>
            </div>

            <hr>

            <pre name="content">{{ blogpost.content }}</pre>

            <input type="submit" name="edit" value="Edit">
            <input type="submit" name="delete" value="Delete">
            <input type="submit" name="like" value="Like">
            <div name="likes">{{ blogpost.likes }}</div>
        </form>
    {% endfor %}
</body>

</html>