{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../css/main.css" />
{% endblock %}

{% block body %}
    <h1>Basic Blog</h1>

    <h3>Edit Post</h3>

    <div class="error">{{ error }}</div>

    <form method="Post">
        <input class="hidden" name="post_id" value="{{ blogpost.key().id() }}">

        <label>Subject</label>
        <br>
        <input id="subject" type="text" name="subject" value="{{ blogpost.subject }}">
        <br>
        <br>

        <label>Blog</label>
        <br>
        <textarea class="post" name="content">{{ blogpost.content }}</textarea>
        <br>
        <br>

        <input type="submit">
    </form>
{% endblock %}