{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../css/main.css" />
{% endblock %}

{% block body %}
    <h1>Basic Blog</h1>

    <h3>Edit Comment</h3>
    <div class="error">{{ error }}</div>
    <form method="post">
        <input class="hidden" name="comment_id" value="{{ comment.key().id() }}">

        <textarea class="edit_comment" name="content">{{ comment.content }}</textarea>
        <br>
        <br>

        <input type="submit" name="submit_comment" value="Submit">
    </form>
{% endblock %}