<!DOCTYPE html>
<html>
<head>
    <title> Basic Blog</title>

    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <h1>Basic Blog</h1>

    <h3>Edit Post</h3>
    <div class="error">{{ error }}</div>
    <form method="Post">
        <input class="hidden" name="post_id" value="{{ blogpost.key().id() }}">
        <label>Subject</label>
        <br>
        <input id="subject" type="text" name="subject" value="{{ blogpost.subject }}">

        <br>
        <br>

        <label>Blog</label>
        <br>
        <textarea name="content">{{ blogpost.content }}</textarea>

        <input type="submit">
    </form>
</body>
</html>