<!DOCTYPE html>
<html>
<head>
    <title> Basic Blog</title>

    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <h1>Basic Blog</h1>

    <h3>New Post</h3>

    <form method="Post">
        <label>Subject</label>
        <br>
        <input id="subject" type="text" name="subject" value="{{ subject }}">

        <br>
        <br>

        <label>Blog</label>
        <br>
        <textarea class="post" name="content">{{ content }}</textarea>

        <br>
        <div class="error">{{ input_error }}</div>
        <br>

        <input type="submit">
    </form>
</body>
</html>
